@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/typhography.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 5px;
  min-height: 0;
}
.item {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  width: 40px;
  transition: all 0.4s ease;
  background-color: $textBlue;
  border-radius: 40px;
  @media (max-width: $mobileSmall) {
    width: 35px;
    height: 35px;
    font-size: 17px;
  }
  a {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobileSmall) {
      width: 35px;
      height: 35px;
      font-size: 17px;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $primaryYellow;
      color: #fff;
    }
  }
}


.active {
  background-color: $primaryYellow;
  border-radius: 40px;
  color: #fff;
}

.next {
  font-size: 24px;
  height: 40px;
  position: absolute;
  right: 0;
  width: 40px;
  transition: all 0.4s ease;
  font-weight: 400;
  @media (max-width: $mobileSmall) {
    width: 35px;
    height: 35px;
  }
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 400px;
  gap: 10px;
  @media (max-width: $mobileSmall) {
    width: 300px;
  }
}

.paginationPage {
  font-weight: 700;
}

.previous {
  font-size: 24px;
  height: 40px;
  left: 0;
  position: absolute;
  width: 40px;
  transition: all 0.4s ease;
  font-weight: 400;
  @media (max-width: $mobileSmall) {
    width: 35px;
    height: 35px;
  }
}
